<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' type="text/css" href='/dist/css/style.min.css' />
    </head>
    <body>
        <h1><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="/dist/js/app.min.js"></script>
    <!--    <script src="/src/js/app.js"></script>
        <script src="/src/js/services/UserService.js"></script>
        <script src="/src/js/controllers/UserCtrl.js"></script>
        <script src="/src/js/controllers/UserDetailCtrl.js"></script>
        <script src="/src/js/appRoutes.js"></script>-->

</body>
</html>
