<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type="text/css" href='/dist/css/style.min.css' />
    </head>
    <body>
        <div class="form-container">
            <p class="form-header">Sign Up</p>
            <form method="POST">
                <label>Username:</label>
                <input type="text" name="username"><br>
                <label>Password:</label>
                <input type="password" name="password"><br>
                <label>Email:</label>
                <input type="email" name="email"><br>
                <input type="submit" value="Register">
            </form>       
        </div>
        <hr><%= msg %>
    </body>
</html>